<!DOCTYPE html>
<html>
  <head>
    <title>Note</title>
    <meta charset="utf-8">
    <link href="style.css" rel="stylesheet">
  </head>
  <body>
    <div id="createNote">
      <input v-model="titre" type="text" id="titleNote" placeholder="Titre...">
      <textarea v-model="message" v-on:keyup="change" id="containedNote" placeholder="Note..." v-bind:rows="rows"></textarea><br/>
      <input type="button" v-on:click="clickSendNote"  id="sendNote" value="Noter">
    </div>
    <div id="infoAfterSend" v-bind:style="styleObject">
      <transition name="fade">
        <h2 v-if="seen">{{ infoAfterSendMsg }}</h2>
      </transition>
    </div>
    <div id="listNote">
      <div class="note" :data-id=note.id v-on:click="editNote" @mouseover="mouseOver" @mouseleave="mouseLeave" v-for="note in notes">
        <h1>{{ note.titre }}</h3>
        <p>{{ note.note }}</p>
        <button class="buttonDelete hideButton" v-on:click="deleteNote"><img src="image/trash.png"></button>
      </div>
    </div>
    <script src="vue.js"></script>
    <script src="script.js"></script>
  </body>
</html> 