<!DOCTYPE html>
<html>
  <head>
    <title>Note</title>
    <meta charset="utf-8">
    <link href="style.css" rel="stylesheet">
  </head>
  <body>
    <div id="createNote" class="createNewNote">
      <newnoteform></newnoteform>
    </div>
    <div id="infoAfterSend" class="InfoWhenYouSend" v-bind:style="styleObject">
      <transition name="fade">
        <h2 v-if="seen">{{ infoAfterSendMsg }}</h2>
      </transition>
    </div>
    <div id="listNote" class="listOfNote">
      <note v-for="note in notes" v-bind:note="note" v-on:edit-note-storage="persist"/>
    </div>
    <script src="node_modules/vue/dist/vue.js"></script>
    <script src="component_note.js"></script>
    <script src="component_new_note.js"></script>
    <script src="script.js"></script>
  </body>
</html> 