body{
  background: #202124;
  color: #d1d1d9;
  font-family: 'Arial';
}
.createNewNote{
  margin: auto;
  border: 1px solid #5f6368;
  background-color: #2d2e30;;
  border-radius: 5px;
  width: 500px;
  padding: 8px;
  margin-bottom: 20px;
}
.createNoteTextArea{
  resize: none;
  font-family: Arial;
  font-size: 16px;
  width: 485px;
  background-color: #2d2e30;
  border: 1px solid #2d2e30;
  margin-left: 8px;
  color: #d1d1d9;
}
.createNoteTextArea:placeholder-shown{
  color: #93969c;
}


.titleCreate{
  border: 2px solid #2d2e30;
  background-color: #2d2e30;
  font-size: 18px;
  margin-bottom: 5px;
  width: 485px;
  margin-left: 8px;
  color: #d1d1d9;
}
.titleCreate {
  transition-property: border-bottom;
  transition-duration: 2s;
  display: block;
}
.titleCreate:hover{
  border-bottom: 1px solid #d1d1d9;
}
.createNoteButton{
  border: 2px solid #2d2e30;
  background-color: #2d2e30;
  color: #d1d1d9;
  font-size: 16px;
  padding: 10px;
  position: relative;
  left: 430px;
  border-radius: 10px;
  transition-property: background-color, border;
  transition-duration: 1s;
}
.createNoteButton:hover{
  background-color: #444549;
}
input:placeholder-shown{
  color: #93969c;  
}
.InfoWhenYouSend{
  position: absolute;
  top: -600px;;
  left: 35%;
  background-color: rgba(45,46,48,0.2);
  border: 1px solid #5f6368;
  padding: 10px;
  border-radius: 10px;
  max-width: 300px;
}
.InfoWhenYouSend h2{
  margin: 0px;
  font-size: 18px;
}



.listOfNote{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 500px;
  flex-wrap: wrap;
  padding-left: 40px;
  padding-right: 30px;
  
}
.note {
  border: 1px solid #5f6368;
  background-color: #2d2e30;
  width: 250px;
  border-radius: 5px;
  margin: 10px;
  padding: 15px;
}
h1{
  font-size: 18px; 
  margin-top: 2px;
}
.note {
  white-space: pre-line;
  position: relative;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .6s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.buttonDelete{
  position: absolute;
  bottom: 6px;
  left: 14px;
  background-color: #d1d1d9;
  border: 1px solid #d1d1d9;
  border-radius: 10px;
  transition-property: background-color, border;
  transition-duration: 2s;
}
.buttonDelete:hover{
  background-color: #93969c;
  border: 1px solid #93969c;
}
.hideButton {
  display: none;
}
.hideInput {
  display: none;
}
.showInput {
  display: block;
}
.changeNoteTextarea {
  margin-bottom: 15px;
  width: 250px;
  min-height: 60px;
  max-height:  300px;
  max-width: 250px;
  resize: both;
  font-family: Arial;
  font-size: 16px;
  background-color: #2d2e30;
  border: 1px solid #2d2e30;
  color: #d1d1d9;
  margin-top: 3px;
}
.changeNoteInput{
  border: 2px solid #2d2e30;
  background-color: #2d2e30;
  font-size: 18px; 
  font-weight: bold;
  width: 190px;
  color: #d1d1d9;
  border-bottom: 1px solid #d1d1d9;
}
.svgTrash{
  width: 20px;
  margin-bottom: -7px;
}